/* Light / default Stone theme */
:root {
    --background: 50, 6%, 95%; /* stone-50 */
    --foreground: 40, 5%, 10%; /* stone-900 */
    --card: 50, 6%, 90%; /* stone-100 */
    --card-foreground: 40, 5%, 10%; /* stone-900 */
    --border: 40, 5%, 20%; /* stone-700 */
    --primary: 40, 5%, 60%; /* stone-500 */
    --primary-foreground: 50, 6%, 95%; /* text on primary */
}

/* Dark mode overrides */
.dark {
    --background: 40, 5%, 10%; /* stone-900 */
    --foreground: 50, 6%, 95%; /* stone-50 */
    --card: 40, 5%, 15%; /* stone-800 */
    --card-foreground: 50, 6%, 95%; /* stone-50 */
    --border: 40, 5%, 30%; /* stone-700 */
    --primary: 40, 5%, 60%; /* same as light */
    --primary-foreground: 50, 6%, 95%;
}

.bg-background {
    background: linear-gradient(
        360deg,
        hsl(var(--background)) 0%,
        hsl(var(--card)) 100%
    );
    min-height: 100vh;
}

.text-foreground {
    color: hsl(var(--foreground));
}

/* Card styles */
.card {
    background-color: hsl(var(--card));
    color: hsl(var(--card-foreground));
    border-radius: 1rem;
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* buttons */
.btn-discord {
    border: none;
    background-color: #5865f2;
    color: #f9fafb;
}
.btn-discord:hover {
    background-color: #7d85e3;
}

.btn-github {
    border: none;
    background-color: #3a3e42;
    color: #f9fafb;
}
.btn-github:hover {
    background-color: #5b6066;
}

.uk-list-divider > li + li {
    border-top-color: #444; /* your color */
}
